# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Streamlit
.streamlit/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/